<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <add name="EventLog" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="CASIOREADER" />
    </sharedListeners>
  </system.diagnostics>

  <appSettings>
    <!-- Database Information -->
  <add key="DBConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.84.36)(PORT=1521)) (ADDRESS=(PROTOCOL=TCP)(HOST=172.20.84.38)(PORT=1521)) (LOAD_BALANCE=yes) (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PRDTST)));User Id=HUBADMIN;Password=HUBADMIN;" /> 

    <!-- Scanner ID -->
    <add key="ScannerID" value="kfmcasio1" />

    <!-- Optional Scanner Ids -->
    <add key="Option-1" value="kfmcasio1" />
    <add key="Option-2" value="kfmcasio2" />
    <add key="Option-3" value="kfmcasio3" />
    <add key="Option-4" value="kfmcasio4" />
    <add key="Option-5" value="kfmcasio5" />  
    
    </appSettings>
</configuration>